
<div class="px-10">
    <div class="flex flex-col w-full border-opacity-50">
        App icon Generator
        Drag or select an app icon image (1024x1024) to generate different app icon sizes for all platforms
        <div class="divider">iOS and macOS</div>
        <div class="grid h-80 justify-items-start">
            <label class="label cursor-pointer gap-2">
                <input type="checkbox" class="checkbox" @onchange="@((args) => SelectPlatform(0, args))" checked />
                <span class="label-text">iPhone - 11 different sizes and files</span>
            </label>
            <label class="label cursor-pointer gap-2">
                <input type="checkbox" class="checkbox" @onchange="@((args) => SelectPlatform(1, args))" checked />
                <span class="label-text">iPad - 13 different sizes and files</span>
            </label>
            <label class="label cursor-pointer gap-2">
                <input type="checkbox" class="checkbox" @onchange="@((args) => SelectPlatform(2, args))" checked />
                <span class="label-text">watchOS - 8 different sizes and files</span>
            </label>
            <label class="label cursor-pointer gap-2">
                <input type="checkbox" class="checkbox" @onchange="@((args) => SelectPlatform(3, args))" checked />
                <span class="label-text">macOS - 11 different sizes and files</span>
            </label>
        </div>
        <div class="divider">Android</div>
        <div class="grid h-20 justify-items-start">
            <label class="label cursor-pointer gap-2">
                <input type="checkbox" class="checkbox" @onchange="@((args) => SelectPlatform(4, args))" checked />
                <span class="label-text">Android - 4 different sizes and files</span>
            </label>
        </div>     
    </div>
</div>


@code {
    List<bool>? selectIcons = new List<bool>{true, true, true, true, true};
    private void SelectPlatform(int platformId, ChangeEventArgs args)
    {
        if (selectIcons != null) selectIcons[platformId] = Convert.ToBoolean(args.Value);
    }

    public List<bool>? GetPlatforms()
    {
        return selectIcons;
    }
}